app-root {
  background-color: rgba(232, 223, 208, 0.85); /* Замените на желаемый цвет */
  display: block; /* Убедитесь, что элемент занимает всю ширину */
  min-height: 100vh; /* Минимальная высота для полного экрана */
}
